/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of default resets*/
/*beginning of CSS*/

#container {
  width: 100%;
	height: 100%;
}
.blocks {
  width: 33.3%;
  height: 310px;
	float: left;
	font-family: 'Merriweather Sans', Arial, sans-serif;
}
.color-purple {
	background-color: rgba(165, 97, 191, 1);
}
.color-orange {
	background-color: rgba(246, 167, 0, 1);
}
.color-red {
	background-color: rgba(237, 85, 63, 1);
}
.color-green {
	background-color: rgba(38, 213, 121, 1);
}
.color-blue {
	background-color: rgba(54, 161, 227, 1);
}
.color-oranger {
	background-color: rgba(236, 138, 7, 1);
}
h1 {
	padding: 2.5em 1.75em;
	font-size: 1.9em;
	font-weight: bold;
	color: #FFF;
}
.blocks img {
	padding: 2em 0 0 2em;
	width: 8%;
}
.title {
	height: 4.5em;
	padding: 2em 1.75em 0 1.75em;
	font-size: 1.9em;
	font-weight: bold;
	color: #FFF;
  text-align: left;
}
.title span:hover {
  color: #000;
	font-weight: bold;
}
.meta {
	margin-top: 5em;
	color: #FFF;
	position: relative;
}
.meta-name {
	margin-left: 55px;
}
.meta-date {
  position: absolute;
	bottom: 0;
	right: 55px;
}
@media screen and (max-width: 900px) {
	.blocks {
		width: 50%;
	}
}
@media screen and (max-width: 700px) {
	.blocks {
		width: 100%;
	}
}
